body {
    background-color: lightblue;
}

.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 5px;
}

#company {
    color: white;
}

div[class="myclass"] {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: black;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

h1 {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #080808;
}